<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Cartera</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
	<span sec:authentication="name"></span>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Slidebar -->
		<!-- End of Slidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments/header :: header"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">

					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CODIGO</th>
								<th class="text-center">VALOR NOMINAL</th>
								<th class="text-center">MONEDA</th>
								<th class="text-center">FECHA DE EMISION</th>
								<th class="text-center">FECHA DE VENCIMIENTO</th>
								<th class="text-center">PLAZO</th>
								<th class="text-center">TASA EFECTIVA(%)</th>
								<th class="text-center">TASA EFECTIVA CONVERTIDA(%)</th>
								<th class="text-center">TASA DESCONTADA(%)</th>
								<th class="text-center">DESCUENTO</th>
								<th class="text-center">VALOR NETO</th>
								<th class="text-center">VALOR ENTREGADO</th>
								<th class="text-center">VALOR RECIBIDO</th>
								<th class="text-center">TCEA(%)</th>
								<th class="text-center">OPERACION</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pro: ${listaCarteras}">
								<td th:text="${pro.idCartera}"></td>
								<td th:text="${pro.letra.valor_nominal}"></td>
								<td th:text="${pro.letra.idMoneda.nombreMoneda}"></td>
								<td
									th:text="${#dates.format(pro.letra.fecha_emision, 'dd/MM/yyyy')}"></td>
								<td
									th:text="${#dates.format(pro.letra.fecha_vencimiento, 'dd/MM/yyyy')}"></td>
								<td th:text="${pro.plazo}"></td>
								<td th:text="${pro.letra.valorTasa}"></td>
								<td th:text="${pro.tasaConvertida}"></td>
								<td th:text="${pro.tasaDescuento}"></td>
								<td th:text="${pro.descuento}"></td>
								<td th:text="${pro.valor_neto}"></td>
								<td th:text="${pro.valor_entregado}"></td>
								<td th:text="${pro.valor_recibido}"></td>
								<td th:text="${pro.TCEA}"></td>
								<td><a th:href="@{/cartera/eliminar?id=}+${pro.idCartera}">Eliminar</a></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<div class="col-md-12 column" align="center">
					<img th:src="@{/imagenes/2.png}" width="200" height="200"
						alt="logo" align="middle"> </img>
				</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>

		<!-- Logout Modal-->
		<div th:replace="fragments/logout:: logout"></div>

		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>
</body>

</html>